<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a0648b8b-a8c7-4a14-b1dd-c2cb3c86dd4a" Alias="contentPage" Level="1">
  <Info>
    <Name>Content Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="e1229ff9-8066-4c15-aae9-2fb90e945a7f">contentBase</Composition>
      <Composition Key="ac798437-54d8-4bf3-94d8-12baa37c118b">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>contentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2ca70e9c-e97c-46a6-851e-0640510c0ccb">contentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="a0648b8b-a8c7-4a14-b1dd-c2cb3c86dd4a" SortOrder="0">contentPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>