<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8e41960e-d8f2-4c2f-b000-4806a5ad0bda" Alias="contact" Level="1">
  <Info>
    <Name>Contact</Name>
    <Icon>icon-map-location color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="ac798437-54d8-4bf3-94d8-12baa37c118b">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>contact</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="789457ee-1887-4ad2-8b0d-76682a97af73">contact</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f9ae654a-9677-47c5-aef8-ed3de6a28b96</Key>
      <Name>Pick a Contact Form</Name>
      <Alias>contactForm</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If Umbraco Forms is installed you'll be able to select a form]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Form</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>11b27968-faa9-45d7-8ec6-2bd9df73f8c3</Key>
      <Name>Contact Form Header</Name>
      <Alias>contactFormHeader</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Form</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>367b68a3-4cb3-49af-8037-b016608f6890</Key>
      <Name>Contact Intro</Name>
      <Alias>contactIntro</Alias>
      <Definition>ecbbac0d-974e-490c-b533-fead926dc525</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Form</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>be293ed9-b5e4-4b3c-a50b-905b4008b2c6</Key>
      <Name>Map Coordinates</Name>
      <Alias>mapCoordinates</Alias>
      <Definition>fc1475d2-7c7b-4b2f-bc53-54c86fd43d6c</Definition>
      <Type>Our.Umbraco.OsmMaps</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Map</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>0079748f-01af-43c6-b3e8-dfddebf818b8</Key>
      <Name>Map Header</Name>
      <Alias>mapHeader</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Map</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>ada0c114-352a-407d-b5af-21060e834b3e</Key>
      <Name>Page Title</Name>
      <Alias>pageTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The title of the page, this is also the first text in a google search result. The ideal length is between 40 and 60 characters]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Form</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Form</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Map</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>