<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e7aa633c-e374-41aa-a1b3-7eb97f1eb4e6" Alias="people" Level="1">
  <Info>
    <Name>People</Name>
    <Icon>icon-user-females-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="e1229ff9-8066-4c15-aae9-2fb90e945a7f">contentBase</Composition>
      <Composition Key="ac798437-54d8-4bf3-94d8-12baa37c118b">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>people</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8addc3c9-e2b8-457a-82d6-ae6c7467178a">people</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="bfae6538-e0a6-4b65-859f-5ee433c2fbec" SortOrder="0">person</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>bd2d7924-d070-40ba-b504-ef0cc2a93c13</Key>
      <Name>Featured People</Name>
      <Alias>featuredPeople</Alias>
      <Definition>4885450e-a60f-42bb-984a-43988baf5283</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>