/// <reference path="../Helpers/_vars" />
/// <reference path="../Helpers/_fonts" />

// mixin for flexbox helping classes
@mixin justify($justify-content) {
    justify-content: $justify-content;
}
// center element vertical/horizontal with absolute
@mixin position-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
// center element vertical with absolute
@mixin position-center-y {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
// center element horizontal with absolute
@mixin position-center-x {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

@mixin position-all-sides {
	position:absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

//-------- Media queries -------//
// estra small phones
@mixin viewport-extra-small { // max-width: 350px
	@media only screen and (max-width: $viewport-extra-small) {
		@content;
	}
}

// phones
@mixin viewport-small { // max-width: 576
	@media only screen and (max-width: $viewport-small) {
		@content;
	}
}

// tablet vertical down to phone
@mixin viewport-medium { // max-width: 992
	@media only screen and (max-width: $viewport-medium) {
		@content;
	}
}

// tablet horizontal and down to phone
@mixin viewport-large { // max-width: 1025
	@media only screen and (max-width:$viewport-large) {
		@content;
	}
}

// desktop
@mixin viewport-extra-large { // max-width: 1200
	@media only screen and (max-width: $viewport-extra-large) {
		@content;
	}
}

// xl screens
@mixin viewport-max { // min-width: 1920px
	@media only screen and (min-width: $viewport-max) {
		@content;
	}
}


