/// <reference path="../Helpers/_vars" />
/// <reference path="../Helpers/_mixins" />
/// <reference path="../Helpers/_fonts" />
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

button {
	background-color: transparent;
	border: none;
	padding: 0;
	margin: 0;
}

a,
button,
input,
textarea {
	&:focus {
		outline: none;
	}
}
@include viewport-medium {
	input {
		-webkit-border-radius: 0;
		-webkit-appearance: none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
}