<rules>
	<rule name="WhiteList" stopProcessing="true">
		<match url="(.*)" />
		<conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{URL}" pattern="^.*/(base|webshop|umbraco|umbraco_client|client|install|api)/" ignoreCase="true" />
			<add input="{HTTP_HOST}" pattern=".*localhost.*" ignoreCase="true" />
		</conditions>
		<action type="None" />
	</rule>
	<rule name="SEO - Remove trailing slash" stopProcessing="false">
		<match url="^_*(.*)/+$" />
		<conditions>
			<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
			<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
		</conditions>
		<action type="Rewrite" url="_{R:1}" />
	</rule>
	<rule name="SEO - ToLower" stopProcessing="false">
		<match url="^_*(.*)" ignoreCase="false" />
		<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
			<add input="{R:1}" pattern="[A-Z]" ignoreCase="false" />
			<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
			<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
			<add input="{R:1}" pattern="^.*?\.(axd|css|js|jpg|jpeg|png|gif|ashx|asmx|svc).*?$" negate="true" ignoreCase="true" />
		</conditions>
		<action type="Rewrite" url="_{ToLower:{R:1}}" />
	</rule>
	<rule name="SEO - remove default.aspx" stopProcessing="false">
		<match url="^_*(.*?)/?default\.aspx$" />
		<action type="Rewrite" url="_{R:1}" />
	</rule>
	<rule name="SEO - Trim aspx" stopProcessing="false">
		<match url="^_*(.*)\.aspx$" />
		<action type="Rewrite" url="_{R:1}" />
	</rule>

	<rule name="Redirect - Subdomains with www to non-www" stopProcessing="true">
		<match url="^_*(.*)" />
		<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
			<add input="{HTTP_HOST}" pattern="^www\.(.*)\.([^\.]+)\.([^\.]+?)$" />
		</conditions>
		<action type="Redirect" url="https://{C:1}.{C:2}.{C:3}/{R:1}" redirectType="Permanent" />
	</rule>
	<rule name="Redirect - Top domains with non-www to www" stopProcessing="true">
		<match url="^_*(.*)" />
		<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
			<add input="{HTTP_HOST}" pattern="^([^\.]+)\.([^\.]+?)$" />
		</conditions>
		<action type="Redirect" url="https://www.{HTTP_HOST}/{R:1}" redirectType="Permanent" />
	</rule>
	<rule name="Redirect - Non-canonical redirect" stopProcessing="true">
		<match url="^_+(.*)" />
		<action type="Redirect" url="{R:1}" redirectType="Permanent" />
	</rule>
</rules>